
<div class="split left">
  <div class="centered">
    
    <h2>Jane Flex</h2>
    <p>Some text.</p>
    <app-flight-filter></app-flight-filter>
  </div>
</div>
<div class="split right">
  <div class="centered">
   <div>
	<h3>Rs. 46000</h3>
	<table>
		<tr>
			<td>AI-202</td>
			<td>AI-203</td>
		</tr>
		<tr>
			<td>PNQ > LHR</td>
			<td>LHR > PNQ</td>
		</tr>
		<tr>
			<td>Depart: 10 AM</td>
			<td>Depart: 11 AM</td>
		</tr>	
		<tr>
			<td>Arrive: 4 PM</td>
			<td>Arrive: 12 PM</td>
		</tr>
	</table>
</div>
  </div>
</div>
